* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.btn {
    font-size: 20px;
    font-weight: 400;
    background-color: #dd0000;
    padding: 16px 25px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
}

.banner {
    background-color: black;
    display: flex;
}

.banner-container {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    margin-left: 20px;
}

.banner-title {
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 111px;
    margin-bottom: 19px;
}

.banner-details {
    font-weight: 400;
    margin-bottom: 30px;
    width: 65%;
}

.banner-image img {
    display: block;
}

/* upcoming matches custom style */
.upcoming-matches {
    display: flex;
    padding: 50px 0;
    gap: 20px;
}

.matches-btn {
    background-color: black;
    width: 25%;
    height: fit-content;

    border-radius: 15px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.matches-btn .btn:nth-child(1),
.matches-btn .btn:nth-child(2) {
    background-color: white;
    color: black;
}

.matches-schedule {
    /* background-color: aqua; */
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
   
}
.card{
     border: 1px solid black;
     border-radius: 10px;
}
.matches-schedule, .card img{
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-btn{
    border: 1px solid black;
    padding: 10px 25px;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.margin-left{
    margin-left: 20px;
}
.card-bottom{
   display: flex;
   gap: 30px;
   margin-bottom: 20px;
   color: rgba(22, 22, 22, 0.8);
}
.card-details{
    font-size: 18px;
    font-weight: 600;
}